<ion-view title="Julius Carvajal">
  <ion-nav-buttons side="right" ng-show="false">
    <button class="button button-icon button-clear ion-ios-email-outline"></button>
    <button class="button button-icon button-clear ion-ios-telephone-outline"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider item-dark">Freelance Software Developer</div>
      <div class="item item-body">
        <div class="item">
          <b>Allette</b> - Java, C#, XSLT
        </div>
        <div class="item">
          <b>Banjo</b> - C# (Url redirection)
        </div>
        <div class="item">
          <b>Personal</b> - Ionic, AngularJS, NodeJS
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-dark">Autodesk | Software Developer</div>
      <div class="item">
        <div class="item">
          <b>AutoCAD 360</b> - AngularJS, Java, Javascript
        </div>
        <div class="item">
          <b>Fusion 360 and AutoCAD</b> - C++, C#
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-dark">Playware Studios | Game Developer</div>
      <div class="item item-body">
        <div class="item">
          <b>4Di and 3DHive</b> - C++, C#, Torque3D Game Engine
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-dark">Software Engineer @ Data Processors</div>
      <div class="item item-body">
        <div class="item">
          <b>Web Scraping</b> - PHP, Regex, Javascript
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
